---
interface Article {
  title: string;
  date: string;
  description: string;
  slug: string;
}

const { title, date, description, slug } = Astro.props as Article;
---

<article class="flex max-w-xl flex-col items-start justify-between">
  <div class="flex items-center gap-x-4 text-xs">
    <time datetime="2020-03-16" class="text-gray-500">{date}</time>
    <a
      href={`/blog/${slug}`}
      class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100"
      >Tech</a
    >
  </div>
  <div class="group relative">
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href={`/blog/${slug}`}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">
      {description}
    </p>
  </div>
  <div class="relative mt-8 flex items-center gap-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/14899056?v=4"
      alt=""
      class="h-10 w-10 rounded-full bg-gray-50"
    />
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a href={`/blog/${slug}`}>
          <span class="absolute inset-0"></span>
          Thirosue
        </a>
      </p>
      <p class="text-gray-600">Engineer</p>
    </div>
  </div>
</article>
